body {
    /* background: fixed; */
    margin: 0;
    padding: 0;
    border: 0;
}
.items {
    list-style-type: none;
    display: block;
    padding: 7px;
    margin: 10px;
    border: 15px;
    text-align: right;
}
.name {
    list-style-type: none;
    text-align: right;
}
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
 }